<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image" href="Screenshot (239).png">
    <title>Calorify™</title>
<style>
body{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
</style>
</head>
<body background = "4827229.jpg">
    <header class="text-gray-400 bg-black body-font">
        <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <span class="ml-3 text-3xl">Calorify™</span>
        </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a href = "index.html" class="mr-5 text-white hover:text-pink-400">Home</a>
            <a href = "aboutus.html" class="mr-5 text-white hover:text-pink-400">About Us</a>
            <a href = "signup.html" class="mr-5 text-white hover:text-pink-400">Sign Up</a>
            <a href = "support.html" class="mr-5 text-white hover:text-pink-400">Support</a>
          </nav>
          <a href = "maincal.html">
          <button class="inline-flex items-center bg-white border-0 py-1 px-3 focus:outline-none hover:bg-yellow-300 rounded text-black text-base mt-4 md:mt-0">Calculate
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button></a>
        </div>
      </header>
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-white tracking-widest"><b>Calorify™ Premium<b></h2>
        <h1 class="text-black text-4xl title-font font-medium mb-4">Food Calorie Measuing Machine</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
          <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Reviews</a>
          <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Details</a>
        </div>
        <p class="leading-relaxed mb-4 text-black ">Calorify™ has created a Machine that measures the calories of homogenized mixtures of oil, water, and sugar etc.

By utilizing sensor technology, the microwave can estimate calories by measuring the weight, fat content and water content.</p>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-600">Color</span>
          <span class="ml-auto text-gray-900">White</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-600">Size</span>
          <span class="ml-auto text-gray-900">Medium</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-green-gray-600">Quantity</span>
          <span class="ml-auto text-gray-900">5</span>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900">$58.00</span>
          <a href = "maincal.html"> 
          <input type = "button" value = "Order Now" class="flex mx-auto text-white text-xl bg-indigo-500 border-0 py-1 px-2 
          focus:outline-none hover:bg-indigo-600 rounded text-lg" onclick = "alert('Dear User,We are Not Accepting Orders Online for Now\nPlease Call On 120-567-4361 \nto Place Order.\n\n Team Calorify™')"></a>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="equip.jpg">
    </div>
  </div>
</section>
<footer class="text-gray-400 bg-black body-font">
  <div class="container px-5 py-3 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      
      <span class="ml-3 text-3xl">Calorify™</span>
    </a>
    <p class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-white sm:py-2 sm:mt-0 mt-4">© 2021 Calorify™—
      <a href= "https://www.facebook.com/kunwarbhavesh.chauhan" class="text-white ml-1" target="_blank" rel="noopener noreferrer">@Bhavesh Chauhan</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a href = "https://www.facebook.com/kunwarbhavesh.chauhan" class="text-white">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a href = "https://bhaveshchauhan4.blogspot.com/" class="ml-3 text-white">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a href = "https://www.facebook.com/kunwarbhavesh.chauhan" class="ml-3 text-white">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a href = "https://t.me/joinchat/bZTa0QqZsQNmZmM1" class="ml-3 text-white">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>
</body>
</html>